html {
  font-size: 62.5%;
}

body {
  --text-color: $black;

  font-family: $font-family-body;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  color: var(--text-color);
  letter-spacing: .1rem;
}

strong {
  font-weight: 500;
}

h1,.h1,
h2,.h2,
h3,.h3 {
  font-family: $font-family-titles;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;

  font-size: var(--size);
  margin-bottom: var(--size);
}

h1,.h1 {
  --size: 6rem;
  @include media-breakpoint-up(md) { --size: 8rem; }
  @include media-breakpoint-up(xl) { --size: 9rem; }
}

h2,.h2 {
  --size: 4rem;
  @include media-breakpoint-up(md) { --size: 5rem; }
  @include media-breakpoint-up(xl) { --size: 6rem; }
}

h3,.h3 {
  --size: 3rem;
  @include media-breakpoint-up(md) { --size: 4rem; }
  @include media-breakpoint-up(xl) { --size: 4.5rem; }
}

h4,.h4,
h5,.h5,
h6,.h6 {
  font-family: $font-family-body;
  font-weight: 300;
  text-transform: uppercase;
}

h4,.h4 {
  font-size: 2rem;
  letter-spacing: .7rem;
}

h5,.h5 {
  font-size: 1.8rem;
  letter-spacing: 1rem;
}

h6,.h6 {
  font-size: 1.6rem;
  letter-spacing: .3rem;
}

blockquote {
  position: relative;
  padding-left: 4rem;
  padding-top: 4.8rem;
  margin-bottom: 4rem;

  &::before {
    content: '“';

    position: absolute;
    top: 0;
    left: 0;

    font-family: $font-family-titles;
    font-size: 6rem;
  }

  & + p {
    padding-left: 4rem;
  }
}