$skin-pale:                             #F3EFEF;
$skin:                                  #F7EFE8;
$white:                                 #FFF;
$slate:                                 #4B4947;
$black:                                 #332E2E;

$primary:                               $skin-pale;
$secondary:                             $skin;
$dark:                                  $slate;

$font-family-body:                      'Open Sans', sans-serif;
$font-family-titles:                    'Playfair Display', serif;