.challenge {
  position: relative;
  padding-top: 110%;

  &::before {
    content: '';

    position: absolute;
    top: 3.2rem;
    left: 50%;
    z-index: 2000;

    display: block;
    width: 19rem;
    height: 19.5rem;

    background-image: url(../assets/challenge.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transform: translateX(-50%);
  }

  .challenge__image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 110vw;
    object-fit: cover;
  }

  @include media-breakpoint-up(md) {
    padding-top: 0;

    .challenge__image {
      left: 50%;
      bottom: 0;

      width: 50%;
      height: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    &::before {
      left: 60%;
    }

    .challenge__image {
      left: 60%;
      width: 40%;
    }
  }
}